<!DOCTYPE html>
<html>
<head th:replace="common/header :: common-header"></head>
<body class="hold-transition skin-blue fixed layout-top-nav">
	<div class="wrapper">
		<!-- Main Header -->
		<header th:replace="common/header :: main-header"></header>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<div class="container">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
						E-<small>Health Card</small>
					</h1>
				</section>
				<!-- Main content -->
				<section class="content">
					<div class="row">
						<div class="col-sm-4"></div>
						<div class="col-sm-4">
							<div class="login-box-body">
								<p class="login-box-msg">Sign In To Your Account</p>
								<form action="#" method="POST">
									<div class="form-group has-feedback">
										<input type="email" class="form-control" placeholder="Email" />
										<span
											class="glyphicon glyphicon-envelope form-control-feedback"></span>
									</div>
									<div class="form-group has-feedback">
										<input type="password" class="form-control"
											placeholder="Password" /> <span
											class="glyphicon glyphicon-lock form-control-feedback"></span>
									</div>
									<div class="row">
										<!-- /.col -->
										<div class="col-xs-4"></div>
										<div class="col-xs-4"></div>
										<div class="col-xs-4">
											<button type="submit"
												class="btn btn-primary btn-block btn-flat">Sign In</button>
										</div>
										<!-- /.col -->
									</div>
								</form>
								<br />
								<div class="row">
									<!-- /.col -->
									<div class="col-xs-6">
										<a href="#">I forgot my password</a>
									</div>							
									<div class="col-xs-6 text-right">
										<a href="register.html" class="text-right">Apply For An
											Account</a>
									</div>
									<!-- /.col -->
								</div>

							</div>
						</div>
						<div class="col-sm-4"></div>
					</div>
					<!-- /.box -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.container -->
		</div>
		<!-- Main Footer -->

		<footer th:replace="common/header :: footer"></footer>
	</div>
	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>