<!DOCTYPE html>
<html>
<head th:replace="common/header :: common-header"></head>
<body class="hold-transition skin-blue fixed layout-top-nav">
	<div class="wrapper">
		<!-- Main Header -->
		<header th:replace="common/header :: main-header"></header>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper"
			sec:authorize="hasRole('ROLE_RECEPTIONIST')">
			<!-- Content Header (Page header) -->
			<div class="container">
				<section class="content-header">
					<h1>
						Dashboard <small>Reception panel</small>
					</h1>
				</section>
				<section class="content">
					<div class="row">
						<div class="col-xs-2"></div>
						<div class="col-xs-6">
							<!-- Horizontal Form -->
							<div class="box box-info">
								<div class="box-header with-border">
									<h3 class="box-title">Registration Information</h3>
								</div>
								<!-- /.box-header -->
								<!-- form start -->
								<form class="form" th:action="@{/registration}" action=""
									th:object="${patient}" method="POST">
									<div class="box-body">
										<div class="form-group">
											<label for="inputEmail3">National Identification
												Number</label> <input type="text" class="form-control"
												placeholder="National Identification"
												th:field="*{identificationNumber}" /> <span
												class="error text-danger"
												th:if="${#fields.hasErrors('identificationNumber')}"
												th:errors="*{identificationNumber}"></span> <span
												class="error text-danger" th:text="${message}"></span>
										</div>
										<div class="form-group">
											<label for="inputEmail3">First Name</label> <input
												type="text" class="form-control" id="inputEmail3"
												placeholder="First Name" th:field="*{fname}" /> <span
												class="error text-danger"
												th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}"></span>
										</div>
										<div class="form-group">
											<label for="inputEmail3">Last Name</label> <input type="text"
												class="form-control" id="inputEmail3"
												placeholder="First Name" th:field="*{lname}" /> <span
												class="error text-danger"
												th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}"></span>
										</div>
										<div class="form-group">
											<label for="inputEmail3">Gender</label> <select
												th:field="*{gender}" class="form-control seelct2"
												style="width: 100%;">
												<option value="">...</option>
												<option value="MALE">MALE</option>
												<option value="FEMALE">FEMALE</option>

											</select> <span class="error text-danger"
												th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
										</div>
										<div class="form-group">
											<label>Date of Birth:</label>

											<div class="input-group date">
												<div class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</div>
												<input type="text" class="form-control pull-right"
													th:field="*{dateOfBirth}" id="datepicker" />

											</div>
											<span class="error text-danger"
												th:if="${#fields.hasErrors('dateOfBirth')}"
												th:errors="*{dateOfBirth}"></span>
											<!-- /.input group -->
										</div>
										<div class="form-group">
											<label for="inputEmail3">Address</label> <input type="text"
												th:field="*{address}" class="form-control" id="inputEmail3"
												placeholder="" />
												<span style="margin-left:10px;">[Provide district]</span>

										</div>
										<span class="error text-danger"
											th:if="${#fields.hasErrors('address')}"
											th:errors="*{address}"></span>
									</div>
									<!-- /.box-body -->
									<div class="box-footer">
									<a class="btn btn-info pull-right" href="/recptionist">
												Cancel </a>
										<button type="submit" class="btn btn-info pull-right">Register
											A Patient</button>
									</div>
									<!-- /.box-footer -->
								</form>
								
							</div>
						</div>
						<div class="col-xs-4"></div>
					</div>
				</section>
			</div>
		</div>
		<div class="content-wrapper" sec:authorize="hasRole('ROLE_ADMIN')">
			<!-- Content Header (Page header) -->
			<div class="container">
				<section class="content-header">
					<h1>
						Dashboard <small>Admin panel</small>
					</h1>
				</section>
				<section class="content" th:if="${doctors==true}">
					<div class="row">
						<div class="col-xs-6">
							<!-- Horizontal Form -->
							<div class="box box-info">
								<div class="box-header with-border">
									<h3 class="box-title">Doctor Information</h3>
								</div>
								<!-- /.box-header -->
								<!-- form start -->
								<form class="form" th:action="@{/docregistration}" method="POST"
									th:object="${user}">
									<div class="box-body">
										<div class="form-group">
											<label for="inputEmail3">First Name</label> <input
												type="text" class="form-control" id="inputEmail3"
												placeholder="First Name" th:field="*{fname}" /> <span
												class="error text-danger"
												th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}"></span>
										</div>
										<div class="form-group">
											<label for="inputEmail3">Last Name</label> <input type="text"
												class="form-control" id="inputEmail3"
												placeholder="Last Name" th:field="*{lname}" /> <span
												class="error text-danger"
												th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}"></span>
										</div>

										<div class="form-group">
											<label for="inputEmail3">Phone</label> <input type="tel"
												class="form-control" id="inputEmail3"
												placeholder="phone number" th:field="*{phone}" /> <span
												class="error text-danger"
												th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
										</div>
										<!-- /.input group -->
										<div class="form-group">
											<label for="inputEmail3">Email</label> <input type="email"
												name="email" th:value="${email}" class="form-control"
												id="inputEmail3" placeholder="" /> <span
												class="error text-danger"
												th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
												 <span
												class="error text-danger" th:text="${message}"
												></span>
										</div>
										<div class="form-group">
											<label for="hospitalname" class="col-sm-2 control-label">Hospital
											</label> <select th:field="*{hospital}" 
												class="form-control col-md-7 col-xs-12">
												<option th:each="hospital: ${hospitals}"
													th:value="${hospital.hospitalId}" th:text="${hospital.hospitalName}"></option>
											</select>
											<span
												class="error text-danger"
												th:if="${#fields.hasErrors('hospital')}" th:errors="*{hospital}"></span>
										</div>
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">Role
											</label> <select th:field="*{user.username}"
												class="form-control col-md-7 col-xs-12">
												<option th:each="role: ${roles}" th:value="${role.name}"
													th:text="${role.name}"></option>
											</select>											
										</div>

									</div>
									<!-- /.box-body -->
									<div class="box-footer">
										<a class="btn btn-default"  href="/" >Cancel</a>
										<button type="submit" class="btn btn-info pull-right">Register
										</button>
									</div>

									<!-- /.box-footer -->
								</form>
							</div>
						</div>
						<div class="col-xs-4"></div>
					</div>
				</section>
				<section class="content" th:if="${departemtperhospital}">
					<div class="row">
						<div class="col-xs-6">
							<!-- Horizontal Form -->
							<div class="box box-info">
								<div class="box-header with-border">
									<h3 class="box-title">Add Department On Employee</h3>
								</div>
								<!-- /.box-header -->
								<!-- form start -->
								<form class="form" th:action="@{/updateEmployee}" method="POST">
									<div class="box-body">
										<div class="form-group">
											<input type="hidden" th:value="${doctors.employeeId}"
												class="form-control" th:name="@{id}" />
										</div>
										<div class="form-group">
											<label for="hospitalname" class="col-sm-2 control-label">Department
												Name</label> <select th:field="*{doctor.depertmentName}"
												th:name="depertmentName"
												class="form-control col-md-7 col-xs-12">
												<option value="0">....</option>
												<option th:each="hospital: ${departemtperhospital}"
													th:value="${hospital.name}" th:text="${hospital.name}"></option>
											</select>
										</div>
									</div>
									<!-- /.box-body -->
									<div class="box-footer">
										<a href="/" class="btn btn-default">Cancel</a>
										<button type="submit" class="btn btn-info pull-right">Update
										</button>
									</div>

									<!-- /.box-footer -->
								</form>
							</div>
						</div>
						<div class="col-xs-4"></div>
					</div>
				</section>
				<!-- hospitals container -->
				<section class="content" th:if="${hospital}">
					<div class="row">
						<div class="col-xs-6">
							<!-- Horizontal Form -->
							<div class="box box-info">
								<div class="box-header with-border">
									<h3 class="box-title">Hospital Information</h3>
									<span th:text="${Hmessage}" style="color: red;"></span>
								</div>

								<form class="form" th:action="@{/hospregistration}"
									th:object="${hospital}" method="POST">
									<div class="box-body">

										<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">Hospital_Name</label>
											<input type="text" th:field="*{hospitalName}"
												class="form-control" />
												<span
												class="error text-danger"
												th:if="${#fields.hasErrors('hospitalName')}" th:errors="*{hospitalName}"></span>
										</div>
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">Hospital_Code</label>
											<input type="text" th:field="*{hospitalCode}"
												class="form-control" />
												<span
												class="error text-danger"
												th:if="${#fields.hasErrors('hospitalCode')}" th:errors="*{hospitalCode}"></span>
										</div>
										<div class="form-group">
											<label for="inputPassword3" class="col-sm-2 control-label">Type</label>

											<select th:field="*{type}" class="form-control seelct2"
												style="width: 100%;">
												<option value="HOSPITAL">HOSPITAL</option>
												<option value="REFERRAL_HOSPITAL">REFERRAL HOSPITAL</option>
												<option value="DISTRICT_HOSPITAL">DISTRICT HOSPITAL</option>
												<option value="HEALTH_CENTER">HEALTH CENTER</option>
												<option value="HEALTH_POST">HEALTH POSTL</option>
											</select>
										</div>
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">Location</label>
											<select th:field="*{address}" class="form-control seelct2"
												style="width: 100%;">
												<option value="Bugesera">Bugesera</option>
												<option value="Gatsibo">Gatsibo</option>
												<option value="Kayonza">KayonzaL</option>
												<option value="Kirehe">Kirehe</option>
												<option value="Ngoma">Ngoma</option>
												<option value="Nyagatare">Nyagatare</option>
												<option value="Rwamagana">Rwamagana</option>
												<option value="Gasabo">Gasabo</option>
												<option value="Kicukiro">Kicukiro</option>
												<option value="Nyarugenge">Nyarugenge</option>
												<option value="Burera">Burera</option>
												<option value="Gakenke">Gakenke</option>
												<option value="Gicumbi">Gicumbi</option>
												<option value="Musanze">Musanze</option>
												<option value="Rulindo">Rulindo</option>
												<option value="Gisagara">Gisagara</option>
												<option value="Huye">Huye</option>
												<option value="Kamonyi">Kamonyi</option>
												<option value="Muhanga">Muhanga</option>
												<option value="Nyamagabe">Nyamagabe</option>
												<option value="Nyanza">Nyanza</option>
												<option value="Nyaruguru">Nyaruguru</option>
												<option value="Ruhango">Ruhango</option>
												<option value="Karongi">Karongi</option>
												<option value="Ngororero">Ngororero</option>
												<option value="Nyabihu">Nyabihu</option>
												<option value="Nyamasheke">Nyamasheke</option>
												<option value="Rubavu">Rubavu</option>
												<option value="Rusizi">Rusizi</option>
												<option value="Rutsiro">Rutsiro</option>
												<option value="Mukamira">Mukamira</option>
											</select>
										</div>
										<div class="form-group">
											<table>
												<tr>Exams
												</tr>
												<tr> <span th:text="${message}" style="color: red;"></span></tr>
												<tr>
													<td><th:block th:each="exams : ${examss}">
															<input type="checkbox" name="examId"
																th:value="${exams.examId}" />
															<label th:text="${exams.name}"></label>
														</th:block></td>
												</tr>
											</table>
										</div>
										<div class="form-group">
											<table>
												<tr>Department
												</tr>
												<tr> <span th:text="${Dmessage}" style="color: red;"></span></tr>
												<tr>
													<td><th:block th:each="dpt : ${departments}">
															<input type="checkbox" name="departmentId"
																th:value="${dpt.departmentId}" />
															<label th:text="${dpt.name}"></label>
														</th:block></td>
												</tr>
											</table>
										</div>
									</div>
									<!-- /.box-body -->
									<div class="box-footer">
									<a href="/listHospital" class="btn btn-default">cancel
										</a>
										<button type="submit" class="btn btn-info pull-right">Register
										</button>
									</div>

									<!-- /.box-footer -->
								</form>
							</div>
						</div>
						<div class="col-xs-4"></div>
					</div>
				</section>
			</div>


		</div>
		<footer th:replace="common/header :: footer"></footer>
	</div>
	<div th:replace="common/header :: body-bottom-scripts"></div>
	<script>
		$(function() {
			//Datemask dd/mm/yyyy
			$('#datemask').inputmask('dd/mm/yyyy', {
				'placeholder' : 'dd/mm/yyyy'
			})
			//Datemask2 mm/dd/yyyy
			$('#datemask2').inputmask('mm/dd/yyyy', {
				'placeholder' : 'mm/dd/yyyy'
			})
			//Money Euro
			$('[data-mask]').inputmask()

			//Date range picker
			$('#reservation').daterangepicker()
			//Date range picker with time picker
			$('#reservationtime').daterangepicker({
				timePicker : true,
				timePickerIncrement : 30,
				format : 'MM/DD/YYYY h:mm A'
			})
			//Date range as a button
			$('#daterange-btn').daterangepicker(
					{
						ranges : {
							'Today' : [ moment(), moment() ],
							'Yesterday' : [ moment().subtract(1, 'days'),
									moment().subtract(1, 'days') ],
							'Last 7 Days' : [ moment().subtract(6, 'days'),
									moment() ],
							'Last 30 Days' : [ moment().subtract(29, 'days'),
									moment() ],
							'This Month' : [ moment().startOf('month'),
									moment().endOf('month') ],
							'Last Month' : [
									moment().subtract(1, 'month').startOf(
											'month'),
									moment().subtract(1, 'month')
											.endOf('month') ]
						},
						startDate : moment().subtract(29, 'days'),
						endDate : moment()
					},
					function(start, end) {
						$('#daterange-btn span').html(
								start.format('MMMM D, YYYY') + ' - '
										+ end.format('MMMM D, YYYY'))
					})

			//Date picker
			$('#datepicker').datepicker({
				autoclose : true
			})

			//iCheck for checkbox and radio inputs
			$('input[type="checkbox"].minimal, input[type="radio"].minimal')
					.iCheck({
						checkboxClass : 'icheckbox_minimal-blue',
						radioClass : 'iradio_minimal-blue'
					})
			//Red color scheme for iCheck
			$(
					'input[type="checkbox"].minimal-red, input[type="radio"].minimal-red')
					.iCheck({
						checkboxClass : 'icheckbox_minimal-red',
						radioClass : 'iradio_minimal-red'
					})
			//Flat red color scheme for iCheck
			$('input[type="checkbox"].flat-red, input[type="radio"].flat-red')
					.iCheck({
						checkboxClass : 'icheckbox_flat-green',
						radioClass : 'iradio_flat-green'
					})

			//Colorpicker
			$('.my-colorpicker1').colorpicker()
			//color picker with addon
			$('.my-colorpicker2').colorpicker()

			//Timepicker
			$('.timepicker').timepicker({
				showInputs : false
			})
		})
	</script>
</body>
</html>