<!DOCTYPE html>
<html>
<head th:replace="common/header :: common-header"></head>
<body class="hold-transition skin-blue fixed layout-top-nav">
	<div class="wrapper">
		<!-- Main Header -->
		<header th:replace="common/header :: main-header"></header>
		<!-- Content Wrapper. Contains page content -->

		<!-- Receptionist container -->
		<div class="content-wrapper"
			sec:authorize="hasRole('ROLE_RECEPTIONIST')">
			<div class="container">
				<!-- Content Header (Page header) -->
				<section class="content-header" th:if="${registration==true}">
					<h1>
						Dashboard <small>Registration Success</small>
					</h1>
				</section>
				<section class="content-header" th:if="${admission}">
					<h1>
						Dashboard <small>Admission Success</small>
					</h1>
				</section>
				<!-- /.content -->
				<section class="content" th:if="${registration==true}">
					<!-- Small boxes (Stat box) -->
					<div class="row">
						<div class="box box-widget widget-user">
							<!-- Add the bg color to the header using any of the bg-* classes -->
							<div class="widget-user-header bg-aqua-active">
								<h3 class="widget-user-username" th:text="${patient.fname}"></h3>
								<h5 class="widget-user-desc" th:text="${patient.patientNumber}"></h5>
							</div>
							<div class="widget-user-image">
								<img class="img-circle" src="imgs/download.png"
									alt="User Avatar" />
							</div>
							<div class="box-footer">
								<div class="row">
									<div class="col-sm-4 border-right">
										<div class="description-block">
											<h5 class="description-header">Date Of Birth</h5>
											<span class="description-text"
												th:text="${patient.dateOfBirth}"></span>
										</div>
										<!-- /.description-block -->
									</div>
									<!-- /.col -->
									<div class="col-sm-4 border-right">
										<div class="description-block">
											<h5 class="description-header">Gender</h5>
											<span class="description-text" th:text="${patient.gender}"></span>
										</div>
										<!-- /.description-block -->
									</div>
									<!-- /.col -->
									<div class="col-sm-4">
										<div class="description-block">
											<h5 class="description-header">Identification</h5>
											<span class="description-text"
												th:text="${patient.identificationNumber}"></span>
										</div>
										<!-- /.description-block -->
									</div>
									<div class="col-sm-4">
										<div class="description-block">
											<a class="btn btn-success pull-left" href="/recptionist">Back
												Home </a>
										</div>
									
									<!-- /.description-block -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</div>
					</div>
			</div>
			</section>
			<!-- admission container -->
			<!-- /.content -->
			<section class="content" th:if="${admission}">
				<!-- Small boxes (Stat box) -->
				<div class="row">
					<div class="col-md-4">
						<!-- Widget: user widget style 1 -->
						<div class="box box-widget widget-user-2">
							<!-- Add the bg color to the header using any of the bg-* classes -->
							<div class="widget-user-header bg-aqua-active">
								<!-- /.widget-user-image -->
								<h3 class="widget-user-username"
									th:text="${admission.admittedPatient.fname}"></h3>
								<h5 class="widget-user-desc"
									th:text="${admission.admittedPatient.lname}"></h5>
							</div>
							<div class="box-footer no-padding">
								<table class="table table-bordered">
									<tr>
										<td>Blood Pressure</td>
										<td th:text="${admission.bloodPressure}" />
									</tr>
									<tr>
										<td>Heart Rate</td>
										<td th:text="${admission.heartRate}" />
									</tr>
									<tr>
										<td>Temperature</td>
										<td th:text="${admission.temperature}" />
									</tr>
									<tr>
										<td>Height</td>
										<td th:text="${admission.height}" />
									</tr>
									<tr>
										<td>Weight</td>
										<td th:text="${admission.weight}" />
									</tr>
								</table>
							</div>
							<a class="btn btn-success pull-left" href="/recptionist">Back
												Home </a>
						</div>
					</div>
				</div>

			</section>
		</div>
	</div>
<div class="content-wrapper"
			sec:authorize="hasRole('ROLE_ADMIN')">
			<div class="container">
				<!-- Content Header (Page header) -->
				<section class="content-header" th:if="${user}">
					<h1>
						Dashboard <small>User Registration Success</small>
					</h1>
				</section>
				<section class="content-header" th:if="${hospital}">
					<h1>
						Dashboard <small>Hospital Registration Success</small>
					</h1>
				</section>
				<!-- /.content -->
				<section class="content" th:if="${user}">
					<!-- Small boxes (Stat box) -->
					<div class="row">
						<div class="box box-widget widget-user">
							<!-- Add the bg color to the header using any of the bg-* classes -->
							<div class="widget-user-header bg-aqua-active">
								<h3 class="widget-user-username" th:text="${user.doctor.fname}"></h3>
								<h5 class="widget-user-desc" th:text="${user.username}"></h5>
							</div>
							<div class="widget-user-image">
								<img class="img-circle" src="imgs/download.png"
									alt="User Avatar" />
							</div>
							<div class="box-footer">
								<div class="row">
									<div class="col-sm-4 border-right">
										<div class="description-block">
											<h5 class="description-header">Phone Number</h5>
											<span class="description-text"
												th:text="${user.doctor.phone}"></span>
										</div>
										<!-- /.description-block -->
									</div>
									<!-- /.col -->
									<div class="col-sm-4 border-right">
										<div class="description-block">
											<h5 class="description-header">Hospital</h5>
											<span class="description-text" th:text="${user.doctor.hospital.hospitalName}"></span>
										</div>
										<!-- /.description-block -->
									</div>
									<!-- /.col -->
									<div class="col-sm-4">
										<div class="description-block">
											<h5 class="description-header">Department</h5>
											<span class="description-text"
												th:text="${user.doctor.depertment.name}"></span>
										</div>
										<!-- /.description-block -->
									</div>
									<div class="col-sm-4">
										<div class="description-block">
											<a class="btn btn-success pull-left" href="/">Back
												Home </a>
										</div>
									
									<!-- /.description-block -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</div>
					</div>
			</div>
			</section>
			<section class="content" th:if="${hospital}">
				<!-- Small boxes (Stat box) -->
				<div class="row">
					<div class="col-md-4">
						<!-- Widget: user widget style 1 -->
						<div class="box box-widget widget-user-2">
							<!-- Add the bg color to the header using any of the bg-* classes -->
							<div class="widget-user-header bg-aqua-active">
								<!-- /.widget-user-image -->
								<h3 class="widget-user-username"
									th:text="${hospital.hospitalName}"></h3>
								<h5 class="widget-user-desc"
									th:text="${hospital.hospitalCode}"></h5>
							</div>
							<div class="box-footer no-padding">
								<table class="table table-bordered">
									<tr>
										<td>Location</td>
										<td th:text="${hospital.address}" />
									</tr>
									<tr>
										<td>Hospital Type</td>
										<td th:text="${hospital.type}" />
									</tr>
								</table>
							</div>
							<a class="btn btn-success pull-left" href="/listHospital">Back
												Home </a>
						</div>
					</div>
				</div>

			</section>
		</div>
	</div>

	<!-- Main Footer -->

	<footer th:replace="common/header :: footer"></footer>
	</div>
	<div th:replace="common/header :: body-bottom-scripts"></div>

	<script>
		$(function() {
			$('#patients').DataTable({
				'paging' : true,
				'lengthChange' : false,
				'searching' : true,
				'ordering' : true,
				'info' : true,
				'autoWidth' : false
			})
		})
	</script>
</body>
</html>