<!DOCTYPE html>
<html>
<head th:replace="common/header :: common-header"></head>
<body class="hold-transition skin-blue fixed layout-top-nav">
	<div class="wrapper">
		<!-- Main Header -->
		<header th:replace="common/header :: main-header"></header>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper"
			sec:authorize="hasRole('ROLE_RECEPTIONIST')">
			<!-- Content Header (Page header) -->
			<div class="container">
				<section class="content-header">
					<h1>
						Dashboard <small>Reception panel</small>
					</h1>
				</section>
				<section class="content">
					<div class="row">
						<div class="col-xs-2"></div>
						<div class="col-xs-6">
							<!-- Horizontal Form -->
							<div class="box box-info">
								<div class="box-header with-border">
									<h3 class="box-title">Registration Information</h3>
								</div>
								<!-- /.box-header -->
								<!-- form start -->
								<form class="form" th:action="@{/registration}" th:object="${patient}" method="POST">
									<div class="box-body">
										<div class="form-group">
											<label for="inputEmail3">Identification Document
												Number</label> <input type="text" class="form-control"
												placeholder="Identification Document Number" th:name="@{patient.identificationNumber}"/>
										</div>
										<div class="form-group">
											<label for="inputEmail3">First Name</label> <input
												type="text" class="form-control" id="inputEmail3"
												placeholder="First Name" th:name="@{patient.fname}"/>
										</div>
										<div class="form-group">
											<label for="inputEmail3">Last Name</label> <input type="text"
												class="form-control" id="inputEmail3"
												placeholder="Last Name" th:name="@{patient.lname}"/>
										</div>
										<div class="form-group">
											<label for="inputEmail3">Gender</label> <select th:field="*{gender}"
												class="form-control seelct2" style="width: 100%;">
												<option value="MALE">MALE</option>
												<option value="FEMALE">FEMALE</option>
											</select>
										</div>
										<div class="form-group">
											<label>Date of Birth:</label>

											<div class="input-group date">
												<div class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</div>
												<input type="text" class="form-control pull-right" th:name="@{patient.dateOfBirth"
													id="datepicker" />
											</div>
											<!-- /.input group -->
										</div>
										<div class="form-group">
											<label for="inputEmail3">Address</label> <input type="text"
												class="form-control" id="inputEmail3" placeholder="" />

										</div>
									</div>
									<!-- /.box-body -->
									<div class="box-footer">
										<button type="submit" class="btn btn-default">Cancel</button>
										<button type="submit" class="btn btn-info pull-right">Register
											A Patient</button>
									</div>
									<!-- /.box-footer -->
								</form>
							</div>
						</div>
						<div class="col-xs-4"></div>
					</div>
				</section>
			</div>
		</div>
		<footer th:replace="common/header :: footer"></footer>
	</div>
	<div th:replace="common/header :: body-bottom-scripts"></div>
	<script>
		$(function() {
			//Datemask dd/mm/yyyy
			$('#datemask').inputmask('dd/mm/yyyy', {
				'placeholder' : 'dd/mm/yyyy'
			})
			//Datemask2 mm/dd/yyyy
			$('#datemask2').inputmask('mm/dd/yyyy', {
				'placeholder' : 'mm/dd/yyyy'
			})
			//Money Euro
			$('[data-mask]').inputmask()

			//Date range picker
			$('#reservation').daterangepicker()
			//Date range picker with time picker
			$('#reservationtime').daterangepicker({
				timePicker : true,
				timePickerIncrement : 30,
				format : 'MM/DD/YYYY h:mm A'
			})
			//Date range as a button
			$('#daterange-btn').daterangepicker(
					{
						ranges : {
							'Today' : [ moment(), moment() ],
							'Yesterday' : [ moment().subtract(1, 'days'),
									moment().subtract(1, 'days') ],
							'Last 7 Days' : [ moment().subtract(6, 'days'),
									moment() ],
							'Last 30 Days' : [ moment().subtract(29, 'days'),
									moment() ],
							'This Month' : [ moment().startOf('month'),
									moment().endOf('month') ],
							'Last Month' : [
									moment().subtract(1, 'month').startOf(
											'month'),
									moment().subtract(1, 'month')
											.endOf('month') ]
						},
						startDate : moment().subtract(29, 'days'),
						endDate : moment()
					},
					function(start, end) {
						$('#daterange-btn span').html(
								start.format('MMMM D, YYYY') + ' - '
										+ end.format('MMMM D, YYYY'))
					})

			//Date picker
			$('#datepicker').datepicker({
				autoclose : true
			})

			//iCheck for checkbox and radio inputs
			$('input[type="checkbox"].minimal, input[type="radio"].minimal')
					.iCheck({
						checkboxClass : 'icheckbox_minimal-blue',
						radioClass : 'iradio_minimal-blue'
					})
			//Red color scheme for iCheck
			$(
					'input[type="checkbox"].minimal-red, input[type="radio"].minimal-red')
					.iCheck({
						checkboxClass : 'icheckbox_minimal-red',
						radioClass : 'iradio_minimal-red'
					})
			//Flat red color scheme for iCheck
			$('input[type="checkbox"].flat-red, input[type="radio"].flat-red')
					.iCheck({
						checkboxClass : 'icheckbox_flat-green',
						radioClass : 'iradio_flat-green'
					})

			//Colorpicker
			$('.my-colorpicker1').colorpicker()
			//color picker with addon
			$('.my-colorpicker2').colorpicker()

			//Timepicker
			$('.timepicker').timepicker({
				showInputs : false
			})
		})
	</script>
</body>
</html>