<!DOCTYPE html>
<html>
<head th:replace="common/header :: common-header"></head>
<body class="hold-transition skin-blue fixed layout-top-nav">
	<div class="wrapper">
		<!-- Main Header -->
		<header th:replace="common/header :: main-header"></header>
		<div class="content-wrapper"
			sec:authorize="hasRole('ROLE_LABORATORY_DOCTOR')">
			<div class="container">
				<div class="row" style="margin-top: 100px;">
					<div class="col-md-6">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Exams count statistics</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body no-padding">
								<table class="table">
									<thead>
										<tr>
											<th>#</th>
											<th>Exam Name</th>
											<th>Count Number</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="exams, iStat: ${exam}">
											<td th:text="${iStat.index+1}" />
											<td th:text="${exams.exam.name}" />
											<td th:text="${exams.examcount}" />
										</tr>
										<tr>
										<td>Total Number Of Received Patients
										</td>
										<td></td>
										<td th:text="${patientExam}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- general doctor -->
		<div class="content-wrapper"
			sec:authorize="hasRole('ROLE_GENERAL_DOCTOR')">
			<div class="container">
				<div class="row" style="margin-top: 100px;">
					<div class="col-md-6">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Exams count statistics</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body no-padding">
								<table class="table">
									<thead>
										<tr>
											<th>#</th>
											<th>Exam Name</th>
											<th>Count Number</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="exams, iStat: ${exam}">
											<td th:text="${iStat.index+1}" />
											<td th:text="${exams.exam.name}" />
											<td th:text="${exams.examcount}" />
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Numbers Of Consultation Per Gender</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body no-padding">
								<table class="table">
									<tr>
										<td>1.</td>
										<td>Male</td>

										<td><span class="badge bg-red" th:text="${male}"></span></td>
									</tr>
									<tr>
										<td>2.</td>
										<td>Female</td>
										<td><span class="badge bg-yellow" th:text="${female}"></span></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Content Wrapper. Contains page content -->
		<!-- ADMIN container -->
		<div class="content-wrapper" sec:authorize="hasRole('ROLE_ADMIN')">
			<div class="container">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
						Dashboard <small>Admin Panel</small>
					</h1>
				</section>
				<!-- /.content -->
				<section class="content">
					<!-- Small boxes (Stat box) -->
					<div class="row">
						<!-- ./col -->
						<div class="col-lg-3 col-xs-6">
							<!-- small box -->
							<div class="small-box bg-green">
								<div class="inner">
									<h3 th:text="${hospitalCount}"></h3>
									<p>Registered Hospitals</p>
								</div>
								<div class="icon">
									<i class="ion ion-stats-bars"></i>
								</div>
								<a href="/listHospital" class="small-box-footer">More info <i
									class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
				</section>

				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Hospitals List</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<table id="patients" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>Code</th>
											<th>Name</th>
											<th>Address</th>
											<th>Departments</th>
											<th>Services</th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="hospital, iStat: ${hospitals}">
											<td th:text="${iStat.index+1}" />
											<td th:text="${hospital.hospitalCode}" />
											<td th:text="${hospital.hospitalName}" />
											<td th:text="${hospital.address}" />
											<td th:text="${hospital.departmentCount}" />
											<td th:text="${hospital.serviceCount}" />

										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<a class="btn btn-success pull-right" href="/hospregistration">
							<i class="fa fa-plus"></i> Register new Hospital
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Receptionist container -->
		<div class="content-wrapper"
			sec:authorize="hasRole('ROLE_RECEPTIONIST')">
			<div class="container">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
						Dashboard <small>Reception Panel</small>
					</h1>
				</section>
				<div class="row" th:if="${message != null}">
					<span th:text="${message}" style="text-color: red;"></span>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-header">
								<h2 class="box-title" th:if="${admission}">All Admission
									performed By</h2>
								<h3 th:text="${doctor.fname}" th:if="${admission}"></h3>
								<h2 class="box-title" th:if="${maleAdmision}">All Male
									admitted patients</h2>
								<h2 class="box-title" th:if="${femaleAdmision}">All Female
									admitted patients</h2>
								<h2 class="box-title" th:if="${monthAdmision}">All admitted
									patients</h2>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<table id="patients" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>Patient Number</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Number Of Admissions</th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="admissions, iStat: ${admission}"
											th:if="${admission}">
											<td th:text="${iStat.index+1}" />
											<td th:text="${admissions.patient.patientNumber}" />
											<td th:text="${admissions.patient.fname}" />
											<td th:text="${admissions.patient.lname}" />
											<td th:text="${admissions.admissionCount}" />

										</tr>
										<tr th:each="admissions, iStat: ${maleAdmision}"
											th:if="${maleAdmision}">
											<td th:text="${iStat.index+1}" />

											<td th:text="${admissions.patient.patientNumber}" />
											<td th:text="${admissions.patient.fname}" />
											<td th:text="${admissions.patient.lname}" />
											<td th:text="${admissions.admissionCount}" />
										</tr>
										<tr th:each="admissions, iStat: ${femaleAdmision}"
											th:if="${femaleAdmision}">
											<td th:text="${iStat.index+1}" />

											<td th:text="${admissions.patient.patientNumber}" />
											<td th:text="${admissions.patient.fname}" />
											<td th:text="${admissions.patient.lname}" />
											<td th:text="${admissions.admissionCount}" />
										</tr>
										<tr th:each="admissions, iStat: ${monthAdmision}"
											th:if="${monthAdmision}">
											<td th:text="${iStat.index+1}" />

											<td th:text="${admissions.admittedPatient.patientNumber}" />
											<td th:text="${admissions.admittedPatient.fname}" />
											<td th:text="${admissions.admittedPatient.lname}" />
											<td th:text="${admissions.admissionCount}" />

										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="box-body">
						<!-- Split button -->
						<p>Admitted Patient Based On Gender</p>

						<div class="margin">
							<div class="btn-group">
								<button type="button" class="btn btn-info">Admission</button>
								<button type="button" class="btn btn-info dropdown-toggle"
									data-toggle="dropdown">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="/reception/reports/male">For Male</a></li>
									<li><a href="/reception/reports/female">For Female</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Main Footer -->

		<footer th:replace="common/header :: footer"></footer>
	</div>
	<div th:replace="common/header :: body-bottom-scripts"></div>

	<script>
		$(function() {
			$('#patients').DataTable({
				'paging' : true,
				'lengthChange' : false,
				'searching' : true,
				'ordering' : true,
				'info' : true,
				'autoWidth' : false
			})
		})
	</script>
	<!-- jQuery 3 -->
	<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- SlimScroll -->
	<script
		src="../../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="../../bower_components/fastclick/lib/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="../../dist/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="../../dist/js/demo.js"></script>
	<!-- jQuery Knob -->
	<script src="../../bower_components/jquery-knob/js/jquery.knob.js"></script>
	<!-- Sparkline -->
	<script
		src="../../bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
	<!-- page script -->
	<!-- jQuery 3 -->
	<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- FastClick -->
	<script src="../../bower_components/fastclick/lib/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="../../dist/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="../../dist/js/demo.js"></script>
</body>
</html>